table {
    box-sizing: border-box;
    border: #dbdbdb;
    border: 1px solid #dbdbdb;
}

th, td {
    box-sizing: border-box;
    border: 1px soild #dbdbdb;
    padding: 5px 10px;
    cursor: pointer;
}