table {
    border-collapse: collapse;
    border: 1px solid #dbdbdb;
}

th, td {
    box-sizing: border-box;
    border: 1px soild #dbdbdb;
    padding: 5px 10px;
}

.button {
    box-sizing: border-box;
    border: 1px solid purple;
    width: 20px;
    height: 5px;
}